# ==========================================
# AstroMachine - Variáveis de Ambiente
# ==========================================

# Backend
SERVER_PORT=3001
JWT_SECRET=astromachine-secret-key-change-in-production
NODE_ENV=development

# Mobile
API_URL=http://localhost:3001
    